OPENAI_API_KEY="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"
NEXT_PUBLIC_SUPABASE_URL="https://eulboxgqausrychcqxbs.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1bGJveGdxYXVzcnljaGNxeGJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4NDMyMjg5NSwiZXhwIjoxOTk5ODk4ODk1fQ.Q0uh1Y5ADTq5VLDaKJbZicjrQUl0c5uZ1ng9UwnChwQ"